/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

#myCanvas {
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    display: block;
}
#botones1{
	display:flex;
	margin-left:816px;
	padding: 10px;
}

#botones2{
	display:flex;
	margin-left:730px;
}
#imagen img {
    width: 600px; /* Establece el ancho deseado, por ejemplo, 300 píxeles */
    height: 400px; /* Establece el alto deseado, por ejemplo, 200 píxeles */
}
form{
    margin-right:10px;
}
button {
    padding: 10px 20px;
    height: 40px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-right:10px;
}

input {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
input:hover {
    background-color: #0056b3;
}
